/* You can add global styles to this file, and also import other style files */
@import 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
body{
    background: url('./assets/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-default {
    background-color: #509e8c;
}

.colorWhite{
    color: white !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color:white;
}

.brandnp{
    padding:0px;
    }
    .brandnp > img{
        height: 50px;
    }

    img{
        max-width: 100%;
    }

    .logo-lg{
        height: 250px;
    }
    .logo-sm{
        height: 200px;
    }

.logo-xs{
    height: 150px;
}

    .icontrophy{
            color: gold;
    text-shadow: 0px 0px 2px;
    }

    .panel{
            background-color: rgba(255, 255, 255, 0.80);
    }

.panel-default > .panel-heading {
    background-color: rgba(245, 245, 245, 0.63);
}

    .snap{
        border: 1px solid;
    box-shadow: 0px 0px 10px #675d5d;
    }

    .pointer{
        cursor: pointer;
    }